# Приклади використання операторів переривання циклу

Пошук елемента в списку з використанням break

In [ ]:
orders = [
    {'order_id': 101, 'status': 'pending'},
    {'order_id': 102, 'status': 'pending'},
    {'order_id': 103, 'status': 'completed'},
    {'order_id': 104, 'status': 'pending'},
]

# Пошук першого виконаного замовлення
for order in orders:
    if order['status'] == 'completed':
        print(f"Первый выполненный заказ: {order['order_id']}")
        break  # Зупиняємо цикл, коли знайденоп ерше виконане замовлення

Пропуск неповних даних з викорисатнням continue

In [ ]:
users = [
    {'name': 'Anna', 'address': 'Main St, 1'},
    {'name': 'Bob', 'address': None},
    {'name': 'Charlie', 'address': 'Broadway, 25'},
    {'name': 'Diana', 'address': None},
]

# Виводимо лише тих, у кого вказано адресу
for user in users:
    if user['address'] is None:
        continue  # Пропускаємо користувачів без адреси

    print(f"Имя: {user['name']}, Адрес: {user['address']}")

Пошук простих чисел з break

In [ ]:
for num in range(2, 51):
    is_prime = True
    for i in range(2, int(num ** 0.5) + 1):
        if num % i == 0:
            is_prime = False
            break  # Число не просте, виходимо з внутрішнього цикла
    if is_prime:
        print(f"{num} — просте число")

Читання даних з перевіркою помилок за допомогою continue та break

In [ ]:
data_stream = [
    {'value': 10},  # коректні дані
    {'value': None},  # помилка
    {'value': 25},  # коректні дані
    {'value': None},  # помилка
    {'value': None},  # помилка
    {'value': 40},  # коректні дані
]

error_count = 0
max_errors = 2

for data in data_stream:
    if data['value'] is None:
        error_count += 1
        print("Помилка: некоректні дані, пропускаємо.")
        if error_count >= max_errors:
            print("Забагато помилок, зупиняємо опрацювання.")
            break  # Зупиняємо цикл, якщо забагато помилок
        continue  # Пропускаємо залишок циклу для поточних даних

    # Опрацювання коректних даних
    print(f"Опрацьовуємо дані: {data['value']}")

Цикл з використанням while, break та continue

In [ ]:
correct_password = "secret"
attempts = 0
max_attempts = 3

while attempts < max_attempts:
    password = input("Введіть пароль: ")

    if password == correct_password:
        print("Пароль правильний, доступ дозволено.")
        break  # Якщо пароль правильний, перериваємо цикл
    else:
        print("Неправильний пароль.")
        attempts += 1
        if attempts == max_attempts:
            print("Забагато помилок. Доступ заблоковано.")
            break
        else:
            continue  # Переходимо до наступної спроби

Аналіз списку транзакцій за допомогою break

In [ ]:
transactions = [100, 200, 150, 100000, 250, 300]

for amount in transactions:
    if amount > 10000:
        print(f"Ризикована операція на суму: {amount}. Припинення обробки.")
        break  # Зупиняємо цикл при ризикованій транзакції
    print(f"Обробка транзакції на суму: {amount}")

# Очищення даних

In [2]:
import pandas as pd
from pathlib import Path

if not Path("olympics_1896_2004.csv").exists():
  !wget https://github.com/jonfernandes/pandas_essential/raw/main/olympics_1896_2004.csv

filename = "olympics_1896_2004.csv"
print("Installed all of the necessary files for this section ...")

Installed all of the necessary files for this section ...

In [28]:
df = pd.read_csv(filename, skiprows=5)
df.head()

,Year,City,Sport,Discipline,Athlete Name,NOC,Gender,Event,Event Gender,Medal,Position
0,1896,Athens,Cycling,Cycling Track,"FLAMENG, Léon",FRA,Men,100km,M,Gold,1
1,1896,Athens,Cycling,Cycling Track,"KOLETTIS, Georgios",GRE,Men,100km,M,Silver,2
2,1896,Athens,Athletics,Athletics,"LANE, Francis",USA,Men,100m,M,Bronze,3
3,1896,Athens,Athletics,Athletics,"SZOKOLYI, Alajos",HUN,Men,100m,M,Bronze,3
4,1896,Athens,Athletics,Athletics,"BURKE, Thomas",USA,Men,100m,M,Gold,1

1. Методи для заповнення пропущених значень

Приклад 1: Використання fillna() для заповнення пропущених значень

In [4]:
# Перевірка наявності пропущених значень у колонках
print(df.isnull().sum())

Year            0
City            0
Sport           0
Discipline      0
Athlete Name    0
NOC             0
Gender          0
Event           0
Event Gender    0
Medal           0
Position        0
dtype: int64

In [7]:
# Заповнення пропущених значень у колонці 'Medal' значенням 'No Medal'
df['Medal'].fillna('No Medal', inplace=True)
#df['Medal'].fillna('No Medal', inplace=True, method=None, axis=None, limit=None)

In [8]:
# Заповнення пропущених значень у колонці 'Position' значенням середнього
df['Position'] = df['Position'].fillna(df['Position'].mean())

print(df.head())

   Year    City      Sport     Discipline        Athlete Name  NOC Gender  \
0  1896  Athens    Cycling  Cycling Track       FLAMENG, Léon  FRA    Men
1  1896  Athens    Cycling  Cycling Track  KOLETTIS, Georgios  GRE    Men
2  1896  Athens  Athletics      Athletics       LANE, Francis  USA    Men
3  1896  Athens  Athletics      Athletics    SZOKOLYI, Alajos  HUN    Men
4  1896  Athens  Athletics      Athletics       BURKE, Thomas  USA    Men

   Event Event Gender   Medal  Position
0  100km            M    Gold         1
1  100km            M  Silver         2
2   100m            M  Bronze         3
3   100m            M  Bronze         3
4   100m            M    Gold         1

Приклад 2: Видалення рядків із пропущеними значеннями за допомогою dropna()

In [ ]:
# Видалення рядків, у яких є пропущені значення в будь-якій колонці
df = df.dropna()
#df = df.dropna(axis=0, how='any', thresh=None, subset=None, inplace=False)

In [9]:
df.dropna?

In [10]:
# Перевірка очищених даних
print(df.isnull().sum())

Year            0
City            0
Sport           0
Discipline      0
Athlete Name    0
NOC             0
Gender          0
Event           0
Event Gender    0
Medal           0
Position        0
dtype: int64

Видалення непотрібних рідків або колонок з методом drop()

In [11]:
df = df.drop(axis=1, index=None, columns=['Event Gender'], level=None, inplace=False, errors='raise')
df.head()

,Year,City,Sport,Discipline,Athlete Name,NOC,Gender,Event,Medal,Position
0,1896,Athens,Cycling,Cycling Track,"FLAMENG, Léon",FRA,Men,100km,Gold,1
1,1896,Athens,Cycling,Cycling Track,"KOLETTIS, Georgios",GRE,Men,100km,Silver,2
2,1896,Athens,Athletics,Athletics,"LANE, Francis",USA,Men,100m,Bronze,3
3,1896,Athens,Athletics,Athletics,"SZOKOLYI, Alajos",HUN,Men,100m,Bronze,3
4,1896,Athens,Athletics,Athletics,"BURKE, Thomas",USA,Men,100m,Gold,1

Чистка дублікатів із використанням метода drop_duplicates()

In [12]:
df = df.drop_duplicates(subset=['City', 'Sport', 'Discipline'], keep='first')
df.head()

,Year,City,Sport,Discipline,Athlete Name,NOC,Gender,Event,Medal,Position
0,1896,Athens,Cycling,Cycling Track,"FLAMENG, Léon",FRA,Men,100km,Gold,1
2,1896,Athens,Athletics,Athletics,"LANE, Francis",USA,Men,100m,Bronze,3
6,1896,Athens,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,100m freestyle,Gold,1
27,1896,Athens,Shooting,Shooting,"MORAKIS, Nikolaos",GRE,Men,25m army pistol,Bronze,3
57,1896,Athens,Tennis,Tennis,"FLACK, Edwin",ZZX,Men,doubles,Bronze,3

2. Об'єднання DataFrames за допомогою merge(), join(), concat()

Приклад 1: Об'єднання DataFrames за допомогою merge()

In [13]:
# Приклад об'єднання з іншим DataFrame на основі спільного стовпця 'NOC' (код країни)
noc_df = pd.DataFrame({
    'NOC': ['USA', 'FRA', 'GRE', 'HUN'],
    'Country': ['United States', 'France', 'Greece', 'Hungary']
})
noc_df.head()

   NOC        Country
0  USA  United States
1  FRA         France
2  GRE         Greece
3  HUN        Hungary

In [17]:
# Об'єднання DataFrames на основі стовпця 'NOC'
merged_df = pd.merge(df, noc_df, on='NOC', how='left')
print(merged_df[['Athlete Name', 'NOC', 'Country']].head(20))

                         Athlete Name  NOC        Country
0                       FLAMENG, Léon  FRA         France
1                       LANE, Francis  USA  United States
2                       HAJOS, Alfred  HUN        Hungary
3                   MORAKIS, Nikolaos  GRE         Greece
4                        FLACK, Edwin  ZZX            NaN
5   PIERRAKOS-MAVROMICHALIS, Perikles  GRE         Greece
6            NIKOLOPOULOS, Alexandros  GRE         Greece
7                WEINGÄRTNER, Hermann  GER            NaN
8                      BATTEL, Edward  GBR            NaN
9            CHRISTOPOULOS, Stephanos  GRE         Greece
10                       MICHELET, E.  FRA         France
11                    ROWLEY, Stanley  AUS            NaN
12                     HALMAY, Zoltan  HUN        Hungary
13                     DAUMAIN, .....  FRA         France
14                      BALME, Eugène  FRA         France
15            PETIT, Charles Frédéric  FRA         France
16         De AMEZOLA y ASPIZUA, José  ESP            NaN
17                BEACHCROFT, Charles  GBR            NaN
18                           AUMOITTE  FRA         France
19            DE LA CHAPELLE, Georges  FRA         France

In [15]:
print(merged_df.isnull().sum())

Year              0
City              0
Sport             0
Discipline        0
Athlete Name      0
NOC               0
Gender            0
Event             0
Medal             0
Position          0
Country         453
dtype: int64

In [16]:
merged_df = merged_df.dropna()
print(merged_df[['Athlete Name', 'NOC', 'Country']].head(20))

                         Athlete Name  NOC        Country
0                       FLAMENG, Léon  FRA         France
1                       LANE, Francis  USA  United States
2                       HAJOS, Alfred  HUN        Hungary
3                   MORAKIS, Nikolaos  GRE         Greece
5   PIERRAKOS-MAVROMICHALIS, Perikles  GRE         Greece
6            NIKOLOPOULOS, Alexandros  GRE         Greece
9            CHRISTOPOULOS, Stephanos  GRE         Greece
10                       MICHELET, E.  FRA         France
12                     HALMAY, Zoltan  HUN        Hungary
13                     DAUMAIN, .....  FRA         France
14                      BALME, Eugène  FRA         France
15            PETIT, Charles Frédéric  FRA         France
18                           AUMOITTE  FRA         France
19            DE LA CHAPELLE, Georges  FRA         France
21          BOULENGER, Marcel Jacques  FRA         France
25                    DEMANET, Lucien  FRA         France
27                   AITOFF, Vladimir  FRA         France
29                    BURGESS, Thomas  FRA         France
30                  MICHAELS, William  USA  United States
31        WARMBOLD, Frederick Charles  USA  United States

In [18]:
merged_df['Country'] = merged_df['Country'].fillna('Other')
print(merged_df[['Athlete Name', 'NOC', 'Country']].head(20))

                         Athlete Name  NOC        Country
0                       FLAMENG, Léon  FRA         France
1                       LANE, Francis  USA  United States
2                       HAJOS, Alfred  HUN        Hungary
3                   MORAKIS, Nikolaos  GRE         Greece
4                        FLACK, Edwin  ZZX          Other
5   PIERRAKOS-MAVROMICHALIS, Perikles  GRE         Greece
6            NIKOLOPOULOS, Alexandros  GRE         Greece
7                WEINGÄRTNER, Hermann  GER          Other
8                      BATTEL, Edward  GBR          Other
9            CHRISTOPOULOS, Stephanos  GRE         Greece
10                       MICHELET, E.  FRA         France
11                    ROWLEY, Stanley  AUS          Other
12                     HALMAY, Zoltan  HUN        Hungary
13                     DAUMAIN, .....  FRA         France
14                      BALME, Eugène  FRA         France
15            PETIT, Charles Frédéric  FRA         France
16         De AMEZOLA y ASPIZUA, José  ESP          Other
17                BEACHCROFT, Charles  GBR          Other
18                           AUMOITTE  FRA         France
19            DE LA CHAPELLE, Georges  FRA         France

Приклад 2: Використання concat() для об'єднання даних

In [19]:
# Розбиття даних на два DataFrames для демонстрації
df_part1 = df.iloc[:100]
df_part2 = df.iloc[100:200]

In [21]:
# Об'єднання двох частин DataFrame
concatenated_df = pd.concat([df_part1, df_part2], axis=0)
print(concatenated_df.shape)  # Перевірка розміру після об'єднання

(200, 20)

Приклад 3: Використання join() для приєднання на основі індексу

In [22]:
# Додавання нового DataFrame з даними про медалі
medals_info = pd.DataFrame({
    'Medal_Code': ['Gold', 'Silver', 'Bronze'],
    'Points': [3, 2, 1]
})
medals_info.head()

  Medal_Code  Points
0       Gold       3
1     Silver       2
2     Bronze       1

In [23]:
# Join DataFrames на основі значення індексу
joined_df = df.set_index('Medal').join(medals_info.set_index('Medal_Code'), how='left')
print(joined_df[['Athlete Name', 'Points']].sample(5))

                     Athlete Name  Points
Medal
Bronze  BOULENGER, Marcel Jacques       1
Bronze            MARTINEK, Janos       1
Bronze               FREY, Konrad       1
Bronze               ABEBE, Addis       1
Bronze      ACOSTA Y LARA, Martin       1

3. Створення зведених таблиць (pivot_table())

In [24]:
# Створення зведеної таблиці для підрахунку кількості медалей за країнами і статтю
pivot_table = pd.pivot_table(df, values='Athlete Name', index='NOC', columns='Gender', aggfunc='count')
print(pivot_table.head())

Gender   Men  Women
NOC
ANZ      1.0    NaN
ARG      6.0    NaN
AUS     13.0    3.0
AUT      6.0    NaN
BEL     15.0    NaN

4. Метод apply() для застосування функцій до елементів DataFrame

Приклад 1: Застосування до кожного рядка

In [26]:
# Функція для перетворення позиції на статус (виграш чи програш)
def position_to_status(position):
    return 'Winner' if position == 1 else 'Not Winner'

In [29]:
# Застосування функції до колонки 'Position'
df['Status'] = df['Position'].apply(position_to_status)
print(df[['Athlete Name', 'Position', 'Status']].head())

         Athlete Name  Position      Status
0       FLAMENG, Léon         1      Winner
1  KOLETTIS, Georgios         2  Not Winner
2       LANE, Francis         3  Not Winner
3    SZOKOLYI, Alajos         3  Not Winner
4       BURKE, Thomas         1      Winner

5. Lambda функції

In [30]:
# Застосування лямбда-функції для перетворення імен атлетів на верхній регістр
df['Athlete_Name_Upper'] = df['Athlete Name'].apply(lambda x: x.upper())
print(df[['Athlete Name', 'Athlete_Name_Upper']].head())

         Athlete Name  Athlete_Name_Upper
0       FLAMENG, Léon       FLAMENG, LÉON
1  KOLETTIS, Georgios  KOLETTIS, GEORGIOS
2       LANE, Francis       LANE, FRANCIS
3    SZOKOLYI, Alajos    SZOKOLYI, ALAJOS
4       BURKE, Thomas       BURKE, THOMAS

Використання numpy.where

In [31]:
import numpy as np

# Перевіримо наявні дані
print(df[['Athlete Name', 'Medal']].head())

         Athlete Name   Medal
0       FLAMENG, Léon    Gold
1  KOLETTIS, Georgios  Silver
2       LANE, Francis  Bronze
3    SZOKOLYI, Alajos  Bronze
4       BURKE, Thomas    Gold

In [32]:
# Використання numpy.where для створення нової колонки 'Champion_Status'
df['Champion_Status'] = np.where(df['Medal'] == 'Gold', 'Champion', 'Non-Champion')

# Виведемо кілька рядків, щоб переконатися, що все працює правильно
print(df[['Athlete Name', 'Medal', 'Champion_Status']].head())

         Athlete Name   Medal Champion_Status
0       FLAMENG, Léon    Gold        Champion
1  KOLETTIS, Georgios  Silver    Non-Champion
2       LANE, Francis  Bronze    Non-Champion
3    SZOKOLYI, Alajos  Bronze    Non-Champion
4       BURKE, Thomas    Gold        Champion

6. Робота з датами і часом у Pandas

Приклад 1: Конвертація текстових даних у формат дати

In [33]:
# Створення DataFrame із роками проведення Олімпіад
df_dates = pd.DataFrame({
    'Olympics_Year': ['1896', '1900', '1904', '1908'],
    'Date_Start': ['1896-04-06', '1900-05-14', '1904-07-01', '1908-04-27']
})
df_dates

  Olympics_Year  Date_Start
0          1896  1896-04-06
1          1900  1900-05-14
2          1904  1904-07-01
3          1908  1908-04-27

In [34]:
df_dates.dtypes

Olympics_Year    object
Date_Start       object
dtype: object

In [35]:
from datetime import datetime
# Конвертація текстових даних у формат datetime
df_dates['Date_Start'] = pd.to_datetime(df_dates['Date_Start'])
print(df_dates.dtypes)

Olympics_Year            object
Date_Start       datetime64[ns]
dtype: object

Приклад 2: Витягування року, місяця та дня з дати

In [36]:
# Витягнення року, місяця та дня з колонки Date_Start
df_dates['Year'] = df_dates['Date_Start'].dt.year
df_dates['Month'] = df_dates['Date_Start'].dt.month
df_dates['Day'] = df_dates['Date_Start'].dt.day
print(df_dates[['Date_Start', 'Year', 'Month', 'Day']])

  Date_Start  Year  Month  Day
0 1896-04-06  1896      4    6
1 1900-05-14  1900      5   14
2 1904-07-01  1904      7    1
3 1908-04-27  1908      4   27

Приклад 1: Робота з Timestamp

In [37]:
# Створення Timestamp з рядка
timestamp = pd.Timestamp('2020-09-15 08:30:00')
print("Timestamp:", timestamp)

# Отримання окремих компонентів часу з Timestamp
print("Рік:", timestamp.year)
print("Місяць:", timestamp.month)
print("День:", timestamp.day)
print("Година:", timestamp.hour)
print("Хвилина:", timestamp.minute)

Timestamp: 2020-09-15 08:30:00
Рік: 2020
Місяць: 9
День: 15
Година: 8
Хвилина: 30

In [38]:
timestamp.dtype

AttributeError: 'Timestamp' object has no attribute 'dtype'

Приклад 2: Створення DatetimeIndex для Time Series

In [39]:
# Створимо DataFrame з датами в індексі
date_rng = pd.date_range(start='2023-01-01', end='2023-01-10', freq='D')

# Створення DataFrame з індексом DatetimeIndex
df_time = pd.DataFrame(date_rng, columns=['date'])
df_time['data'] = range(10)  # Додаємо деякі дані

# Присвоєння колонки 'date' як індексу
df_time.set_index('date', inplace=True)
print(df_time)

            data
date
2023-01-01     0
2023-01-02     1
2023-01-03     2
2023-01-04     3
2023-01-05     4
2023-01-06     5
2023-01-07     6
2023-01-08     7
2023-01-09     8
2023-01-10     9

Приклад 3: Фільтрація за датами за допомогою DatetimeIndex

In [40]:
# Фільтрація даних за датою
# Вибираємо всі дати після 2023-01-05
filtered_df = df_time[df_time.index > '2023-01-05']
print("Дані після 2023-01-05:\n", filtered_df)

# Вибираємо дані за конкретний день
print("Дані за 2023-01-07:\n", df_time.loc['2023-01-07'])

Дані після 2023-01-05:
             data
date
2023-01-06     5
2023-01-07     6
2023-01-08     7
2023-01-09     8
2023-01-10     9
Дані за 2023-01-07:
 data    6
Name: 2023-01-07 00:00:00, dtype: int64

Приклад 3: Використання resample() для агрегування по часу

In [41]:
# Створимо Time Series дані з годинною частотою
date_rng = pd.date_range(start='2023-01-01', end='2023-01-02', freq='H')
df_hourly = pd.DataFrame(date_rng, columns=['date'])
df_hourly['data'] = range(len(date_rng))

# Присвоєння DatetimeIndex
df_hourly.set_index('date', inplace=True)
df_hourly

                     data
date
2023-01-01 00:00:00     0
2023-01-01 01:00:00     1
2023-01-01 02:00:00     2
2023-01-01 03:00:00     3
2023-01-01 04:00:00     4
2023-01-01 05:00:00     5
2023-01-01 06:00:00     6
2023-01-01 07:00:00     7
2023-01-01 08:00:00     8
2023-01-01 09:00:00     9
2023-01-01 10:00:00    10
2023-01-01 11:00:00    11
2023-01-01 12:00:00    12
2023-01-01 13:00:00    13
2023-01-01 14:00:00    14
2023-01-01 15:00:00    15
2023-01-01 16:00:00    16
2023-01-01 17:00:00    17
2023-01-01 18:00:00    18
2023-01-01 19:00:00    19
2023-01-01 20:00:00    20
2023-01-01 21:00:00    21
2023-01-01 22:00:00    22
2023-01-01 23:00:00    23
2023-01-02 00:00:00    24

In [42]:
# Агрегування даних по днях (сумуємо значення за день)
daily_data = df_hourly.resample('D').sum()
print("Агреговані дані по днях:\n", daily_data)

Агреговані дані по днях:
             data
date
2023-01-01   276
2023-01-02    24

Використання timedelta

Приклад 1: Створення timedelta та виконання операцій з додавання і віднімання

In [43]:
# Створення об'єкта timedelta, що представляє 5 днів
delta = pd.Timedelta(days=5)

# Створення дати
start_date = pd.Timestamp('2023-09-10')

# Додавання і віднімання timedelta до дати
print("Початкова дата:", start_date)
print("Дата через 5 днів:", start_date + delta)
print("Дата на 5 днів раніше:", start_date - delta)

Початкова дата: 2023-09-10 00:00:00
Дата через 5 днів: 2023-09-15 00:00:00
Дата на 5 днів раніше: 2023-09-05 00:00:00

Приклад 2: Використання timedelta для обчислення різниці між датами

In [46]:
# Створення двох дат
date1 = pd.Timestamp('2023-09-01')
date2 = pd.Timestamp('2023-09-10')

# Обчислення різниці між двома датами
difference = date2 - date1
print("Різниця між датами:", difference)
print("Кількість днів між датами:", difference)

Різниця між датами: 9 days 00:00:00

AttributeError: 'Timedelta' object has no attribute 'hour'

Приклад 3: Додавання timedelta до стовпців DataFrame

In [47]:
# Створимо DataFrame з датами
date_rng = pd.date_range(start='2023-09-01', end='2023-09-05', freq='D')
df = pd.DataFrame(date_rng, columns=['Date'])

# Додавання 3 днів до кожної дати у DataFrame
df['Date_plus_3'] = df['Date'] + pd.Timedelta(days=3)
print(df)

        Date Date_plus_3
0 2023-09-01  2023-09-04
1 2023-09-02  2023-09-05
2 2023-09-03  2023-09-06
3 2023-09-04  2023-09-07
4 2023-09-05  2023-09-08

Приклад 4: Використання timedelta з годинами та хвилинами

In [48]:
# Створення timedelta з годинами та хвилинами
time_delta_hours = pd.Timedelta(hours=2, minutes=30)

# Додавання часу до дати
start_time = pd.Timestamp('2023-09-10 12:00:00')
new_time = start_time + time_delta_hours
print("Початковий час:", start_time)
print("Час через 2 години і 30 хвилин:", new_time)

Початковий час: 2023-09-10 12:00:00
Час через 2 години і 30 хвилин: 2023-09-10 14:30:00